<section id="main_slider">
    
      <div class="item">
        <div class="container">
            <div class="col-sm-5">
            	<div class="slider-txt">
                <h1>Free, Easy, Legal </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim aliquam lobortis. Suspendisse feugiat mauris odio, vitae interdum mauris faucibus non.</p>
                <a class=""> Read More.</a>
                </div>
            </div>
          </div>
      </div>
     
</section>

<section id="mn_sec_01">
	<div class="container">
		<div class="col-sm-8 animated fadeInLeft">
			<h1>Legal advice from top-rated lawyers</h1>
			<p>No Credit Card Needed. 100% Free.</p>
		</div>
		<div class="col-sm-4 animated fadeInRight">
			<a href="#Ask" class="btn btn-yellow">Ask a Question </a>
		</div>
	</div>
</section>

<section id="mn_sec_02">
	<div class="container">
		<div class="section-header animated fadeInDown">
			<h1 class="section-title text-center">Latest Answers</h1>
		</div>
		<div class="row">    
			<div class="mn-search-box col-xs-8 col-xs-offset-2">
				<div class="input-group">
					<div class="input-group-btn search-panel">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span id="search_concept">Filter by</span> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
						  <li><a href="">Civil</a></li>
						  <li><a href="">Criminal</a></li>
						  <li class="divider"></li>
						  <li><a href="#all">Anything</a></li>
						</ul>
					</div>
					<input type="hidden" name="search_param" value="all" id="search_param">         
					<input type="text" class="form-control" name="x" placeholder="Search term...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Search <span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>

				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
		</div>
		<div class="row text-center p20">
			<a href="" class="btn btn-blue">Read More</a>
		</div>
	</div>
</section>

<section id="mn_sec_03">
	<div class="container">
    	<h2 class="sec-hd-2">We Will Help You</h1>
        <p class="sec-p">no worry about About Your Legal Problem</p>
		<div class="row">
        	<div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Talk To A Lawyer</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Legal Services</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
        </div>
		
	</div>
</section>