<section id="my-profile" class="p40">
	<div class="container">
        <div class="col-sm-3">
        	<div class="sb-left">
            	<ul class="sb-menu">
                	<li><a href="">MY Profile</a>
                    <li><a href="">My Questions</a>
                    <li><a href="">Billing</a>
                </ul>
            </div>
        </div>
        
        <div class="col-sm-9">
        
        	<div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control"  placeholder="Additional Info">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input type="text" class="form-control"  placeholder="Additional Info">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon">Mobile</span>
                <input type="text" class="form-control"  placeholder="Additional Info">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon">Address</span>
                <input type="text" class="form-control"  placeholder="Additional Info">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon">PIN</span>
                <input type="text" class="form-control"  placeholder="Additional Info">
            </div>
            
            <div class="p20 text-right">
            <div class="form-group">
         		<input type="button" class="btn btn-default" value="Save">
                <input type="button" class="btn btn-danger" value="Cancel">
         	</div>
            </div>
        </div>
        
    </div>
</section>